.externalToolBuilders
.settings
target
.classpath
.project
nb-configuration.xml
.tern-project
.factorypath
/blog-api/nbproject/
/vinalla/nbproject/
/vanilla/nbproject/
/vanilla - Copy/nbproject/
/jwt/nbproject/