<header ng-switch on="$location.path().indexOf('/Members/new') > -1">
    <h3 ng-switch-when="true">Create a new Member</h3>
    <h3 ng-switch-when="false">View or edit Member</h3>
</header>
<form id="MemberForm" name="MemberForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': MemberForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" required ng-maxlength="25" ng-minlength="1" class="form-control" ng-model="member.name" placeholder="Enter the Member Name"></input>
            <span class="help-block error" ng-show="MemberForm.name.$error.required">required</span> 
            <span class="help-block error" ng-show="MemberForm.name.$error.minlength">minimum length is 1</span>
            <span class="help-block error" ng-show="MemberForm.name.$error.maxlength">maximum length is 25</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': MemberForm.phoneNumber.$invalid}">
        <label for="phoneNumber" class="col-sm-2 control-label">Phone Number</label>
        <div id="phoneNumberControls" class="col-sm-10">
            <input id="phoneNumber" name="phoneNumber" type="text" required ng-maxlength="12" ng-minlength="10" class="form-control" ng-model="member.phoneNumber" placeholder="Enter the Member Phone Number"></input>
            <span class="help-block error" ng-show="MemberForm.phoneNumber.$error.required">required</span> 
            <span class="help-block error" ng-show="MemberForm.phoneNumber.$error.minlength">minimum length is 10</span>
            <span class="help-block error" ng-show="MemberForm.phoneNumber.$error.maxlength">maximum length is 12</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveMember" name="saveMember" class="btn btn-primary" ng-disabled="isClean() || MemberForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteMember" name="deleteMember" class="btn btn-danger" ng-show="member.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>