<div class="page-header">
	<h1>Members</h1>
</div>
<div class="row">
	<div class="pull-right">
		<a ng-click="newMember()" class="btn btn-success"><span
			class="glyphicon glyphicon-plus"></span>
		<msg key="newMember" /> </a>
	</div>
</div>
<table ng-hide="members.length == 0" class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone #</th>
			<th width="200">ACTION</th>
		</tr>
	</thead>
	<!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
	<tr ng-repeat="member in members | orderBy:order">
		<td>{{member.id}}</td>
		<td>{{member.name}}</td>
		<td>{{member.email}}</td>
		<td>{{member.phoneNumber}}</td>
		<td><a ng-click="editMember($index)"><span
				class="glyphicon glyphicon-pencil"></span> </a> &nbsp; <a
			ng-click="del(member.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
</table>

<div class="modal fade" id="memberDialog" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form form-horizontal" role="form" ng-submit="save()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">
						<msg key="editMember"></msg>
					</h4>
				</div>
				<div class="modal-body">
					<!-- Each input is bound to a property on the prototype newMember object -->
					<div class="form-group">
						<label for="name" class="control-label col-md-4">Name:</label>
						<div class="col-md-8">
							<input class="form-control" type="text" name="name"
								id="name" ng-model="member.name" placeholder="Your Name"
								required autofocus /> 
							<span class="error" ng-show="errors.name">{{errors.name}}</span>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="control-label col-md-4">Email:</label> 
						<div class="col-md-8">
						<input
							class="form-control" type="email" name="email" id="email"
							ng-model="member.email" placeholder="Your Email" required /> <span
							class="error" ng-show="errors.email">{{errors.email}}</span>
							</div>
					</div>
					<div class="form-group">
						<label for="phoneNumber" class="control-label col-md-4">Phone
							#:</label> 
						<div class="col-md-8">	
							<input class="form-control" type="tel" name="phoneNumber"
							id="phoneNumber" ng-model="member.phoneNumber"
							pattern="[0-9]{10,12}" placeholder="Your Phone #" required /> <span
							class="error" ng-show="errors.phoneNumber">{{errors.phoneNumber}}</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<div class="col-md-offset-4 col-md-8">
							<input class="btn btn-success" type="submit" id="register"
								value="Register" /> <input class="btn btn-default"
								type="button" ng-click="reset()" name="cancel" id="cancel"
								value="Cancel" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
